RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php
Options-Indexes
ErrorDocument 404 /error.html
ErrorDocument 403 /error.html

php_value zlib.output_compression 16386

# Avoid 500 error by passing charset
AddDefaultCharset utf-8


#Compresión por Gzip
<IfModule mod_gzip.c>
 mod_gzip_on Yes
 mod_gzip_dechunk Yes
 mod_gzip_item_include file\.(html?|txt|css|js|php|pl)$
 mod_gzip_item_include handler^cgi-script$
 mod_gzip_item_include mime^text/.*
 mod_gzip_item_include mime^application/xm-javascript.*
 mod_gzip_item_exclude mime^image/.*
 mod_gzip_item_exclude rspheader^Content-Encoding:.*gzip.*
</IfModule>


<FilesMatch "\.(css|js|ico|pdf|flv|jpg|jpeg|png|gif|swf|mp3|mp4|svg|woff2|)$">
Header set Cache-Control "public"
Header Cache-Control: max-age=31536000
Header set Expires "Thu, 25 Apr 2025 20:00:00 GMT"  
</FilesMatch>

Redirect 301 /adm  /admin
Redirect 301 /ADM  /admin
Redirect 301 /ADMIN /admin
Redirect 301 /Admin /admin

Redirect 301 /2  /
Redirect 301 /3   /
Redirect 301 /4    /

Redirect 301 /index-2 /
Redirect 301 /index-3 /
Redirect 301 /index-4 /
Redirect 301 /Medias filtrar.php?categoria=Medias
Redirect 301 /Trabajo filtrar.php?categoria=Trabajo
Redirect 301 /Blanqueria filtrar.php?categoria=Blanqueria
Redirect 301 /Accesorios filtrar.php?categoria=Accesorios
Redirect 301 /RopaInterior filtrar.php?categoria=RopaInterior
Redirect 301 /Indumentaria filtrar.php?categoria=Indumentaria
Redirect 301 /Combos filtrar.php?categoria=Combos
Redirect 301 /promos filtrar.php?categoria=promo
Redirect 301 /Calzado filtrar.php?categoria=Calzado
Redirect 301 /Abrigos filtrar.php?categoria=Abrigos

GeoIPEnable On

# Apache < 2.4
<IfModule !mod_authz_core.c>
 <Limit GET POST>
  
Order Allow,Deny
Allow from all
Deny from env=bad_bot
 </Limit>
</IfModule>
# Apache >= 2.4
<IfModule mod_authz_core.c>
 <Limit GET POST>
  <RequireAll>
   
Order Allow,Deny
Allow from all
Deny from env=bad_bot

  </RequireAll>
 </Limit>
</IfModule>

ErrorDocument 503 ",.-{Acceso denegado}-.,"
RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^.(TESTtest|
Apache-HttpClient|python|python-requests|Adsbot
|Barkrowler|serpstatbot|SeekportBot|seekport|Photon|ahrefs
|aiohttp|TweetmemeBot|DataForSeoBot|hypefactors
|github|buck|megaindex|barkrowler|rogerbot|DotBot|blexbot
|crawler|moz|dataforseo|MauiBot|mj12bot|SEMrush|ahref
|EvilBotHere|SpamSpewer|SecretAgentAgent).$
RewriteRule .* - [R=503,L]

<code>SetEnvIfNoCase User-Agent "Baiduspider" good_bot
SetEnvIfNoCase User-Agent "80legs" good_bot
SetEnvIfNoCase User-Agent "CCBot" good_bot
SetEnvIfNoCase User-Agent "Googlebot"good_bot
SetEnvIfNoCase User-Agent "Yahoo! Slurp" good_bot
SetEnvIfNoCase User-Agent "bingbot" good_bot
SetEnvIfNoCase User-Agent "YandexBot" good_bot

RewriteCond %{HTTP_USER_AGENT} ^.*AIBOT.*$ [NC,OR]

RewriteEngine On
RewriteCond %{HTTP_USER_AGENT} ^.*AIBOT.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ASPSeek.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Abacho.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*AdoSpeaker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*AhrefsBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Alexibot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Aqua_Products.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*asterias.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*b2w/0.1.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BackDoorBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BacklinkCrawler.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BlackWidow.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BlekkoBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BlowFish.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Bookmark\ search\ tool.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BotALot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Bot\ mailto:craftbot@yahoo.com.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BuiltBotTough.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Bullseye.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*BunnySlippers.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*CheeseBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*CherryPicker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ChinaClaw.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Copernic.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*CopyRightCheck.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*cosmos.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Crescent.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Custo.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*DISCo.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*DittoSpyder.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*dotbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Download\ Demon.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*dumbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*eCatch.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EirGrabber.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*email.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailCollector.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailSiphon.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EmailWolf.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Enterprise_Search.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EroCrawler.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*exabot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Express\ WebPictures.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ExtractorPro.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*EyeNetIE.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*FairAd\ Client.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Flaming\ AttackBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*FlashGet.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Foobot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Gaisbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*GetRight.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*GetWeb!.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*gigabot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Go!Zilla.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Go-Ahead-Got-It.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*GrabNet.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Grafula.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*grub.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Harvest.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Hatena\ Antenna.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*hloader.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*HMView.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*httplib.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*HTTrack.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*humanlinks.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ia_archiver.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Image\ Stripper.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Image\ Sucker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Indy\ Library.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*InfoNaviRobot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*InterGET.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Internet\ Ninja.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Iron33.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JennyBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Jetbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JetCar.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*JOC\ Web\ Spider.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Kenjin.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Keyword.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*larbin.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LeechFTP.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LexiBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*libWeb/clsHTTP.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LinkextractorPro.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LinkScan.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LinkWalker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*LNSpiderguy.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*looksmart.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*lwp-trivial.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Marketing.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mass\ Downloader.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mata\ Hari.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Microsoft\ URL\ Control.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*MIDown\ tool.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*MIIxpc.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Mister\ PiX.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*MJ12bot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*moget.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*MSIECrawler.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*naver.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Navroad.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NearSite.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NetAnts.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NetMechanic.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NetSpider.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NetZIP.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Net\ Vampire.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*NICErsPRO.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Nutch.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Octopus.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Offline\ Explorer.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Offline\ Navigator.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Openbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Openfind.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Oracle\ Ultra\ Search.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Owlinbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*PageGrabber.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Papa\ Foto.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*pavuk.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*pcBrowser.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*PerMan.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ProPowerBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ProWebWalker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*proximic.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*psbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Python-urllib.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*QueryN.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Radiation\ Retriever\ 1.1.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*RealDownload.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*ReGet.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*RMA.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*rogerbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*scooter.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Screaming.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SearchEngineWorld.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SearchmetricsBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*searchpreview.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Semrush.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SEO.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*seolytics.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*sistrix.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SiteSnagger.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SmartDownload.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*sootle.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SpankBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*spanner.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*spy.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Stanford.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SuperHTTP.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Surfbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*SurveyBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*suzuran.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Szukacz.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*tAkeOut.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Teleport.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Telesoft.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*TheNomad.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*The\ Intraformant.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*toCrawl/UrlDispatcher.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*True_Robot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*turingos.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Updownerbot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*URLy\ Warning.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*URL_Spider_Pro.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*VCI.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*VoidEYE.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebAuto.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebBandit.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebCopier.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebEnhancer.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebFetch.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebGo\ IS.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebLeacher.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebmasterWorld.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebReaper.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebSauger.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*website.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Website\ eXtractor.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Website\ Quester.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Webster.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebStripper.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebVac.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebViewer.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebWhacker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebZip.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WebZIP.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Web\ Image\ Collector.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Web\ Sucker.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Wget.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Widow.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WWW-Collector-E.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*WWWOFFLE.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Xaldon\ WebSpider.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Xenu.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*XoviBot.*$ [NC,OR]
RewriteCond %{HTTP_USER_AGENT} ^.*yacybot.*$ [NC]
RewriteCond %{HTTP_USER_AGENT} ^.*Zeus.*$ [NC]
RewriteCond %{HTTP_USER_AGENT} ^8484_Boston_Project [NC,OR]
RewriteRule ^ – [L,R=404]


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:qIvEWG3aJC
deny from 2a03:2880:22ff:7::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE qIvEWG3aJC:IPDENYID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:NMDCt1JPqp
deny from 2a03:2880:24ff:1::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE NMDCt1JPqp:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:fzdbtRUaoU
deny from 2a03:2880:3ff:3::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE fzdbtRUaoU:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:dstXmjvuXZ
deny from 2a03:2880:22ff:74::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE dstXmjvuXZ:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:epqFMBhV7E
deny from 2a03:2880:13ff:b::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE epqFMBhV7E:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:T4rwjdnP2H
deny from 2a03:2880:23ff:10::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE T4rwjdnP2H:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:YnfcwbbQ4v
deny from 2a03:2880:27ff:10::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE YnfcwbbQ4v:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:el9mf8iXcQ
deny from 2a03:2880:24ff:2::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE el9mf8iXcQ:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:nrlZIYyhgm
deny from 2a03:2880:21ff:8::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE nrlZIYyhgm:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:SUvsSxxfkP
deny from 2a03:2880:25ff:77::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE SUvsSxxfkP:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:WoHLKneCgs
deny from 2a03:2880:2ff:74::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE WoHLKneCgs:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:gD4uBns1Lm
deny from 2a03:2880:23ff:74::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE gD4uBns1Lm:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:RQHWa8BrOn
deny from 2a03:2880:23ff:8::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE RQHWa8BrOn:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:h53XevcPiE
deny from 2a03:2880:24ff:76::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE h53XevcPiE:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:rCfNiz5jh1
deny from 2a03:2880:27ff:17::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE rCfNiz5jh1:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:4uzSTRDWmx
deny from 2a03:2880:25ff:3::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 4uzSTRDWmx:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:5U6xPhUf4W
deny from 2a03:2880:25ff:76::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 5U6xPhUf4W:IPDENYID






# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:oPZ34iz3wM
deny from 2a03:2880:27ff:2::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE oPZ34iz3wM:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:C0ykvqr10T
deny from 2a03:2880:25ff:2::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE C0ykvqr10T:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:Vxore5Q8WQ
deny from 2a03:2880:27ff:15::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE Vxore5Q8WQ:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:ZjvLWaacYi
deny from 2a03:2880:27ff:76::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ZjvLWaacYi:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:ghBiVVNtTt
deny from 2a03:2880:23ff:13::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE ghBiVVNtTt:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:3CwCaWxfPb
deny from 2a03:2880:25ff:74::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE 3CwCaWxfPb:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:bgdHG7KR4L
deny from 2a03:2880:27ff:3::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE bgdHG7KR4L:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:kKTX15fgwb
deny from 2a03:2880:23ff:d::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE kKTX15fgwb:IPDENYID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:kidyDNZun9
deny from 2a03:2880:27ff:7::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE kidyDNZun9:IPDENYID




# DO NOT REMOVE THIS LINE AND THE LINES BELOW IPDENYID:UKF1bA0ith
deny from 2a03:2880:25ff:75::face:b00c
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE UKF1bA0ith:IPDENYID



RewriteEngine On RewriteCond %{HTTP_USER_AGENT} ^BlackWidow [OR] RewriteCond %{HTTP_USER_AGENT} ^Zeus RewriteRule .* - [F]

LimitRequestBody 10000000

GeoIPEnable On SetEnvIf GEOIP_COUNTRY_CODE US AllowCountry Deny from all Allow from env=AllowCountry
